extends layout
include utils

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content
    div(id="splash")
        h1= "face your fears."
        h2= "Curate a blood-curdling collection of horror movies while discovering new favorites"
        form(action="/users/register", method="get")
            button(type="submit") GET STARTED
        small= "Already a member? "
            a(href="/users/login")= "Log in >>"
    div(id="featured-shelves")
        +showShelves(shelves, true)
