doctype html
html
  head
      block head
        title #{title}
        link(rel='stylesheet' href='/stylesheets/reset.css')
  body
    if locals.authenticated
      div
        p Welcome #{locals.user.username} :D
        form(action="/users/logout" method="post")
          button(type="submit") Logout
    else
      nav(class="nav")
        div
          <form method="get" action="/users/login" class="container">
            <button type="submit"class="loginbutton">Login</button >
          </form>
          <form method="get" action="/users/register">
            <button type="submit"class="registerbutton">Register</button  >
          </form>
        //- button(type="submit" )
        //-   a(href="/users/login" class="loginlink") Login
        //-   a(href="/users/register" class="registerlink") Register
        block content
