extends layout.pug

block content
    if errors
        div(class="errors")
        ul
            each error in errors
                li= error

    form.form-box(action="/users/login", method="post")
        input(type="hidden" name="_csrf" value= csrfToken)
        label.form-label(for="username") Username
        input.form-field(type="text" name="username" required)
        label.form-label(for="password") Password
        input.form-field(type="password" name="password" required)
        button.med-button.form-button(type="submit") Login
        p.form-outro New here? #[a(href="/users/register") Become a member >>]
    div.form-box.demo-box
        p.form-intro Want to take a look around?
        form(action="/users/login/demo", method="post")
            label.form-label(for="username")
            input.form-field(type="hidden" name="username" value="demo")
            label.form-label(for="password")
            input.form-field(type="hidden" name="password" value="Password1!")
            button.med-button.form-button(type="submit") Be our guest
