extends layout.pug

block content

    each movie in movies
        div.movie-tile
            img(src=movie.cover, alt="movie poster")
            p #{movie.title}
            each review in reviews
                if review.movieId === movie.id
                    p #{review.rating}
