extends layout.pug

block content

    each movie in movies
        div
            img(src=movie.cover, alt="movie poster")
            p #{movie.title}
            each review in reviews
                p #{review.rating}

