extends layout.pug
append head
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    link(rel='stylesheet', href='/stylesheets/background.css')
    link(rel='stylesheet', href='/stylesheets/review-form.css')

block content

    div(id="errorContainer")
        if errors
            div(class="errors")
            ul
                each error in errors
                    li= error

    div(id="pageContainer")
        form(action=`/movies/${id}/reviews/new`, method="post" id="formContainer")
            div(id="movieContainer")
                img(src=`${movie.cover}`, alt="Movie Cover")

            input(type="hidden" name="_csrf" value= csrfToken)

            
            if canReview === false
                div.errorContainer
                    p.error You have already submitted a review for this movie.

            div(id="score")
                label(for="rating" class="label") Rating
                input(type="number" min="0" max="5" name="rating" value= review.rating required)

            div(id="reviewForm")
                label(for="body" class="label") Write your review here:
                textarea(name="body" cols="30" rows="10" placeholder="Write your review here. . ." id="reviewBody")

            div(id="submitButton")
                button(type="submit" class="small-button") Submit Review
