extends layout.pug

block content
    if errors
        div(class="errors")
        ul
            each error in errors
                li= error 

    form(action="/movies/:#{review.movieId}/reviews/new", method="post")
        input(type="hidden" name="_csrf" value= csrfToken)

        label(for="score") Score
        input(type="number" name="score" value= review.score required)

        label(for="body") Write your review here
        textarea(name="body", cols="30", rows="10" placeholder="Write your review here." value= review.body required) 

        button(type="submit") Submit Review