extends layout.pug

block content
    if errors
        div(class="errors")
        ul
            each error in errors
                li= error

    form.form-box.suggest-box(action=`/movies/new`, method="post")
        input(type="hidden" name="_csrf" value= csrfToken)

        label.form-label(for="title" class="titleLabel") Title
        input.form-field(type="text" name="title" class="titleField" required )

        label.form-label(for="year" class="yearLabel" ) Year released
        input.form-field(type="number" name="year" class="yearField" required)

        label.form-label(for="description" class="descriptionLabel") Description
        textarea.form-field(name="description" class="descriptionField" placeholder="Brief description of movie" required)

        label.form-label(for="director" class="directorLabel") Director
        input.form-field(type="text" name="director" class="directorField" required)

        label.form-label(for="cover" class="coverLabel") Link to movie poster
        input.form-field(type="text" name="cover" class="linkField" placeholder="URL for movie poster" required)

        button.med-button.form-button(type="submit" class="suggestionSubmit") Submit
