.content-container {
    background-repeat: no-repeat;
    background-size: 1000px;
    background-position: 100% 50%;
    height: 750px;
    width: 100%
}

.choice-scream {
    background-image: url("../images/scream.jpg");
}

.choice-grave {
    background-image: url("../images/grave.png");
}
.choice-hearts {
    background-image: url("../images/hearts.png");
}

.choice-trees {
    background-image: url("../images/trees.png");
}
