:root {
	--primary-red: #ff2800;
	--primary-white: #cccccc;
}

.btn-edit,
.btn-del {
	background-color: rgba(0, 0, 0, 0);
	font-family: 'Open Sans', sans-serif;
	font-weight: 500;
	color: var(--primary-white);
	border: 1px solid var(--primary-white);
	font-size: 0.75em;
	cursor: pointer;
	border-radius: 5px;
	padding: 3px 10px;
	margin: 2px;
	margin-right: 10px;
}

#edit-button,
#btn-del-shelf {
	background-color: rgba(0, 0, 0, 0);
	font-family: 'Open Sans', sans-serif;
	font-weight: 500;
	color: var(--primary-white);
	border: 1px solid var(--primary-white);
	font-size: 1em;
	cursor: pointer;
	border-radius: 5px;
	padding: 5px 15px;
	margin-right: 10px;
}

#edit-button:hover,
#btn-del-shelf:hover {
	background: var(--primary-white);
}
