@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
	--main-dark: #131516;
	--main-red: #ff2800;
	--main-white: #f1f2eb;
}

body {
	font-family: 'Roboto', sans-serif;
	background: var(--main-dark);
	color: var(--main-white);
}

#logo {
	font-size: 45px;
	text-decoration: none;
	color: var(--main-white);
	margin-left: 10em;
	font-weight: bolder;
}

#main-nav {
	display: flex;
	flex-direction: row;
	background: var(--main-dark);
	height: 70px;
	align-items: center;
	box-shadow: 0px 5px 15px black;
}

#login-btn {
	margin-left: 30%;
	align-items: center;
	text-decoration: none;
	color: var(--main-white);
}

#register-btn {
	text-decoration: none;
	margin-left: 30px;
	padding: 5px;
	border: 2px solid var(--main-red);
	border-radius: 5px;
	background: var(--main-red);
	color: var(--main-white);
}

.container {
	display: flex;
	justify-content: center;
}
